{% extends "base.html" %}

{% block extra_styles %}
	<link href="{{ url_for('static', filename='styles/tool.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Decode | Steganography Tool{% endblock %}

{% block content %}
	<form enctype="multipart/form-data" method="POST">
		<div>
			<label for="file">File</label>
			<input id="file" name="file" type="file" />
		</div>

		<button type="submit">Decode</button>
		<a href="/image/last/decoded">Check last decoded image</a>
	</form>
{% endblock %}
