{% extends "base.html" %}

{% block extra_styles %}
  <link href="{{ url_for('static', filename='styles/tool.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Encode | Steganography Tool{% endblock %}

{% block content %}
	<form enctype="multipart/form-data" method="POST">
		<div>
			<label for="file">File</label>
			<input id="file" name="file" type="file" />
		</div>

		<div>
			<label for="message">Message</label>
			<input id="message" name="message" type="text" />
		</div>

		<button type="submit">Encode</button>
		<a href="/image/last/encoded">Check last encoded image</a>
	</form>
{% endblock %}
