header {
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

header a {
	color: var(--foreground-one);
	text-decoration: none;
}

header a.active {
	font-weight: 600;
}
